body {
  padding: 20px;
}

img {
  border-radius: 5px;
}

.thumbnail:hover {
  cursor: pointer;
}

.flex-after::after {
  content: "";
  flex: auto;
}

@keyframes changeOpacity {
  from {
    opacity: 100%;
  }

  to {
    opacity: 10%;
  }
}

.skeleton {
  background: #ddd;
  margin: 10px 0;
  border-radius: 5px;
  animation-duration: 1.5s;
  animation-name: changeOpacity;
  animation-iteration-count: infinite;
}

.skeleton.thumbnail {
  width: 115px;
  height: 115px;
  margin: 5px;
  border-radius: 5px;
}

.skeleton.title {
  max-width: 500px;
  height: 20px;
  border-radius: 5px;
}

.skeleton.categoryList {
  width: 100%;
  height: 20px;
  border-radius: 5px;
}